:root{
	--theme-color: #ffffff;
	--theme-background-image: url('Images/White Theme Image.jpg');
	--theme-text-color: #111111;
	--theme-box-num-color: #0f9d58;
	--theme-hover-color: #ddd;
	--theme-color-alpha_34: rgba(255, 255, 255, .34);
	--theme-color-alpha_83: rgba(255, 255, 255, .83);
}
body.dark-mode {
	--theme-color: #111111;
	--theme-background-image: url('Images/Black Theme Image.jpg');
	--theme-text-color: #ffffff;
	--theme-hover-color: #120000;
	--theme-box-num-color: #fff;
	--theme-color-alpha_34: rgba(0, 0, 0, .34);
	--theme-color-alpha_83: rgba(0, 0, 0, .83);
}

body {
	background-image: var(--theme-background-image);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
}

:focus, :active{
	outline: none;
}
::-webkit-scrollbar{
	display: none;
}

@font-face {
	font-family: 'Sofia Pro';
	src: url('https://github.com/ShreyB004/homeopathy/blob/e2c60d7191b65a3f978b3da7a64278ee8d2d85e8/Fonts/sofiapro-light.otf');
}

@keyframes ScaleIn {	
	100%{
		opacity: 1;
		transform: scale(1);
	}
}
@keyframes GelatineBounce {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}

*{
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

.medicine-section{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/* background-color: var(--theme-color); */
	transition: background-color .15s ease-in-out;
}

.medicine-section.active-tab {
	display: flex;
	align-items: center;
}

.medicine-section .top-nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 5px;
	left: 50%;
	translate: -50% 0px;
	width: 95%;
	height: 50px;
	padding: 8px;
	border-radius: 32px;
	box-shadow: 0 8px 12px 4px rgba(0, 0, 0, .5);
	background-color: var(--theme-color);
	transition: background-color .15s ease-in-out;
	z-index: 5;
}
.medicine-section .top-nav button {
	position: relative;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	background-color: var(--theme-color);
	box-shadow: 1px 1px 2px rgba(0, 0, 0, .34);
	padding: 8px;
	border: none;
	margin-right: 5px;
	transition: background-color .15s ease-in-out;
}
.medicine-section .top-nav button .button-svg {
	position: relative;
	display: none;
	transform: scale(0);
	animation-name: ScaleIn;
	animation-duration: .15s;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.medicine-section .top-nav .button-svg.active-btn{
	display: flex;
}

.medicine-section .top-nav .dark-mode-btn {
	position: relative;
	margin-left: 5px;
	color: var(--svg-stroke);
}

.medicine-section .top-nav input {
	position: relative;
	border: none;
	background-color: var(--theme-color);
	padding: 1em;
	height: 80%;
	width: 100%;
	border-radius: 8px;
	font-size: 1.25em;
	transition: all .15s ease-in-out;
	color: var(--theme-text-color);
}
.medicine-section .top-nav input:focus{
	outline: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .34);
}

.medicine-section .patients-lists {
	position: relative;
	display: flex;
	justify-content: center;
	height: 82%;
	max-height: 82%;
	width: 100%;
	overflow: auto;
}

.medicine-section .patients-lists .patient-details-div {
	position: relative;
	height: 100%;
	width: 90%;
}

.medicine-section .patients-lists .patient-details-div .patients-name {
	position: relative;
	width: 100%;
	padding: 8px;
	top: 0;
	background-color: var(--theme-color);
	margin: 24px 0;
	border-radius: 18px;
	color: var(--theme-text-color);
	transition: background-color .15s ease-in-out;
	box-shadow: 0 0 3px rgba(15, 157, 88, .5);
}

.medicine-section .patients-lists .patient-details-div .patients-name:hover{
	background-color: rgba(0, 0, 0, .1);
}
.medicine-section .patients-lists .patient-details-div .patients-name.show{
	display: block;
}
.medicine-section .patients-lists .patient-details-div .patients-name.hidden{
	display: none;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patients-history-details{
	position: relative;
	display: flex;
	align-items: flex-start;
	height: 65px;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patients-history-details 
.medicine-for{
	position: absolute;
	bottom: 0;
	left: 5px;
	font-size: .8rem;
	padding: 2px 8px;
	color: var(--theme-text-color);	
	background-color: #0f9d5866;
	border-radius: 12px;
}

.medicine-section .patients-lists .patient-details-div .patients-name .given-medicine-name{
	position: relative;
	top: 5px;
	padding: 2px 5px;
	text-align: left;
	min-width: fit-content;
	max-width: 125px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	letter-spacing: 1px;
	background-color: var(--theme-color);
	border-radius: 6px;
	text-transform: capitalize;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patients-history-details .arrow{
	position: absolute;
	left: 55%;
	top: 30%;
	translate: -50% -50%;
	color: #1a8cff;
	padding: 4px;
	font-size: 1.5em;
	border-radius: 50%;
}
.medicine-section .patients-lists .patient-details-div .patients-name .patients-history-details 
.given-patient-name{
	position: absolute;
	right: 0;
	color: var(--theme-text-color);
	padding: 5px;
	font-size: 1rem;
	background-color: var(--theme-color);
	border-radius: 12px;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patient-medicine-time-div{
	position: absolute;
	display: flex;
	align-items: center;
	top: -12px;
	border-radius: 25px;
}
.medicine-section .patients-lists .patient-details-div .patients-name .patient-medicine-time-div span.material-icons{
	position: relative;
	font-size: .9em;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patient-medicine-time-div span,
.medicine-section .patients-lists .patient-details-div .patients-name .patient-medicine-time-div time{
	position: relative;
	padding: 2px 4px;
	margin-left: 5px;
	border-radius: 12px;
	background-color: #0f9d58;
	letter-spacing: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
	color: #fff;
	text-transform: capitalize;
	font-size: .7rem;
}

.medicine-section .patients-lists .patient-details-div .patients-name .patient-medicine-time-div time{
	padding: 2px 8px;
	background-color: var(--theme-color);
	color: #0f9d58;
	font-weight: bold;
	letter-spacing: 1px;
	text-transform: lowercase;
}


.medicine-section .box-holder{
	position: relative;
	margin: auto 0;
	height: 85%;
	width: 100%;
	padding: 12px;
	z-index: 2;
	border-radius: 12px;
	overflow-y: auto;
	transition: background-color .15s ease-in-out;
}

.medicine-section .box-holder .boxes {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
	margin-left: 15px;
	top: -10px;
	width: 100px;
	height: 100px;
	padding: 8px;
	background-color: var(--theme-color);
	border-radius: 38px;
	transition: all .15s ease-in-out;
}
.medicine-section .box-holder .boxes:hover{
	box-shadow: 0 1px 2px rgba(0, 0, 0, .24);
}

.medicine-section .box-holder .boxes:hover .box-number{
	background-color: #0f9d58bb;
	box-shadow: 0 0 1px rgba(0, 0, 0, .24);
}

.medicine-section .box-holder .boxes .box-number{
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	background-color: rgba(15, 157, 88, .45);
	font-weight: bold;
	font-size: 1.25rem;
	color: var(--theme-box-num-color);
	border: 4px double var(--theme-box-border-color);
	box-shadow: 0 0 2px rgba(0, 0, 0, .52);
	transition: all .15s ease-in-out;
}

.medicine-section .box-holder .box-modal, 
.medicine-section .box-holder .medicines-lists{
	position: absolute;
	display: none;
	justify-content: center;
	align-items: flex-start;
	top: 0;
	left: 0;
	height: 100%;
	max-height: 100%;
	width: 100%;
	transition: all .15s ease-in-out;
	overflow-y: auto;
	opacity: 0;
	background-image: var(--theme-background-image);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center;
	transform: translateY(100%);
	transition: background-color .15s ease-in-out;
}

.medicine-section .box-holder .medicines-lists #searchedMedicinesList{
	position: relative;
	align-items: flex-start;
	overflow-x: visible;
	height: 600px;
}
.medicine-section .box-holder .box-modal.visible, .medicine-section .box-holder .medicines-lists.visible{
	opacity: 1;
	display: flex;
	transform: translateY(0px);
}

.medicine-section .box-holder .box-modal.visible{
	z-index: 11;
}

.medicine-section .box-holder .medicines-lists.visible{
	z-index: 12;
}

.medicine-section .box-holder > div > ol .md-name {
	position: relative;
	display: flex;
	align-items: center;
	width: 235px;
	padding: 8px;
	font-weight: lighter;
	margin: 12px 0;
	color: var(--theme-text-color);
	background-color: var(--theme-color);
	box-shadow: 0 4px 16px -2px rgba(0, 0, 0, .5);
	border-radius: 24px;
	transition: all .15s ease-in-out;
	z-index: 1;
}

.medicine-section .box-holder > div > ol .md-name:hover {
	background-color: var(--theme-hover-color);
}

.medicine-section .box-holder > div > ol .md-name.show {
	display: flex;
}

.medicine-section .box-holder > div > ol .md-name.hidden {
	display: none;
}

.medicine-section .box-holder > div > ol .md-name .small-box-number {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	left: -15%;
	top: 50%;
	transform: translateY(-50%);
	height: 26px;
	width: 26px;
	padding: 6px;
	border-radius: 24px;
	background-color: #0f9d58;
	color: var(--theme-text-color);
	font-weight: lighter;
}

.medicine-section .box-holder > div > ol .space{
	position: relative;
	display: flex;
	width: fit-content;
	left: 50%;
	transform: translateX(-50%);
	justify-content: center;
	font-weight: bold;
	background-color: #0f9d5855;
	margin: 12px 0 12px 0;
	color: #0f9d58;
	padding: 4px 8px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .5);
	border-radius: 12px;
}

.medicine-section .box-holder .history-box{
	position: absolute;
	display: none;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	justify-content: center;
	align-items: center;
	background-color: var(--theme-color-alpha_34);
	backdrop-filter: blur(2px);
	-webkit-backdrop-filter: blur(2px);
	z-index: 99;
}

.medicine-section .box-holder .history-box.visible{
	display: flex;
}

.medicine-section .box-holder .history-box .main-history-box{
	position: relative;	
	height: 200px;
	width: 300px;
	border-radius: 25px;
	background-color: var(--theme-color-alpha_83);
	box-shadow: 0 0 12px 8px rgba(0, 0, 0, .4);
	transition: background-color .15s ease-in-out;
	z-index: 100;
}

.medicine-section .box-holder .history-box .main-history-box .patient-details-section{
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 8px;
	background-color: transparent;
	height: fit-content;
	text-align: center;
	width: 100%;
}
.medicine-section .box-holder .history-box .main-history-box .patient-details-section > span{
	position: relative;
	font-weight: bold;
	font-size: 1.5em;
	text-shadow: 1px 1px 2px var(--theme-text-color);
	color: var(--theme-text-color);
}
.medicine-section .box-holder .history-box .main-history-box .patient-details-section .error-info{
	position: relative;
	display: none;
	line-height: 0;
	font-weight: lighter;
	font-size: .6em;
	color: #db373a;
}
.medicine-section .box-holder .history-box .main-history-box .patient-details-section .error-info.show-error{
	display: block;
}
.medicine-section .box-holder .history-box .main-history-box .patient-details-section
  label {
	position: relative;
	font-size: 14px;
	color: var(--theme-text-color);
}
.medicine-section .box-holder .history-box .main-history-box .patient-details-section input {
	position: relative;
	display: block;
	padding: 8px;
	top: 8px;
	border: none;
	margin: 6px 0;
	background-color: transparent;
	color: var(--theme-text-color);
	font-weight: bold;
	border-radius: 8px;
	letter-spacing: .5px;
	box-shadow: 0 0 0 2px rgba(15, 157, 88, .4);
	transition: all .25s ease-in;
}

.medicine-section .box-holder .history-box .main-history-box .patient-details-section 
 input:focus{
	box-shadow: 0 0 0 2px #0f9d58;
}

.medicine-section .box-holder .history-box .main-history-box .patient-details-section
 button{
	position: relative;
	display: inline-flex;
	top: 12px;
	align-items: center;
	border-radius: 12px;
	background-color: #0f9d58;
	border: none;
	color: #fff;
	padding: 8px;
	column-gap: 4px;
	z-index: 5;
}

.medicine-section .box-holder .history-box .main-history-box .patient-details-section
 > button span.material-icons{
 	position: relative;
 	padding: 4px;
 	background-color: rgba(0, 0, 0, .5);
 	border-radius: 50%;
 	font-size: 1em;
}

.medicine-section .patient-names-holder{
	position: relative;
	top: 50px;
	height: 82%;
	max-height: 82%;
	width: 100%;
	flex-direction: column;
	overflow: auto;
}
.medicine-section .patient-names-holder .patients-names-lists{
	position: relative;
	display: inline-flex;
	margin-left: 10px;
	width: calc(50% - 16px);
	align-items: center;
	background-color: var(--theme-color);
	padding: 6px;
	margin-top: 8px;
	border-radius: 8px;
	box-shadow: 0 1px 2px var(--theme-text-color);
}
.medicine-section .patient-names-holder .patients-names-lists span{
	position: relative;
	color: var(--theme-text-color);
}
.medicine-section .patient-names-holder .patients-names-lists.show{
	display: inline-flex;
}
.medicine-section .patient-names-holder .patients-names-lists.hidden{
	display: none;
}
.medicine-section .user-page-div{
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.medicine-section .user-page-div .user-page-sections{
	position: relative;
	display: flex;
	justify-content: flex-start;
	padding: 12px;
	top: 12px;
	width: 90%;
	background-color: var(--theme-color);
	border-radius: 8px;
	box-shadow: 0 0 24px 2px rgba(0, 0, 0, .3);
}

.medicine-section .user-page-div .user-settings-holder{
	height: 55%;
	align-items: center;
	flex-direction: column;
}
.medicine-section .user-page-div .user-settings-holder header h2{
	color: var(--theme-text-color);
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div{
	position: relative;
	display: flex;
	width: 100%;
	margin-top: 12px;
	border-radius: 12px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	background-color: var(--theme-color);
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings{
	position: relative;
	display: flex;
	padding: 12px;
	width: 100%;
	height: 100%;
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings span{
	position: relative;
	display: flex;
	align-items: center;
	color: var(--theme-text-color);
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings span > i{
	position: relative;
	margin-right: 5px;
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings 
input[type='checkbox']{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 80%;
	opacity: 0;
}

.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings 
.dark-mode-checkbox{
	position: absolute;
	top: 50%;
	translate: 0px -50%;
	right: 12px;
	height: 15px;
	width: 25px;
	border-radius: 35px;
	background-color: #333;
	transition: all .25s ease-in-out;
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings 
.dark-mode-checkbox::after{
	position: absolute;
	content: "";
	height: 15px;
	width: 15px;
	background-color: #fff;
	border-radius: 50%;
	transition: all .25s ease-in-out;
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings input:checked + .dark-mode-checkbox{
	background-color: #0f9d58;
}
.medicine-section .user-page-div .user-settings-holder .user-setting-div .user-main-settings 
input:checked + .dark-mode-checkbox::after{
	translate: 12px 0px;
	-webkit-translate: 12px 0px;
}
.bottom-nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 8px;
	left: 50%;
	translate: -50% 0px;
	width: 95%;
	height: 50px;
	border-radius: 32px;
	background-color: var(--theme-color);
	transition: background-color .15s ease-in-out;
	box-shadow: 0 0 12px 0 rgba(0, 0, 0, .34);
	z-index: 9;
}

.bottom-nav .bottom-nav-btns {
	position: relative;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	margin: 0 10px;
	height: 50px;
	width: calc(calc(100% - 12px) / 4);
	padding: 8px 12px;
	border-radius: 8px;
	background-color: var(--theme-color);
	transition: background-color .15s ease-in-out;
	border: none;
}

.bottom-nav .bottom-nav-btns svg {
	fill: #444;
}

.bottom-nav .bottom-nav-btns.default-btn {
	background-color: #0f9d5866;
	box-shadow: 0 0 8px 1px #0f9d58bb;
	animation-name: GelatineBounce;
	animation-duration: .25s;
	animation-timing-function: ease-in-out;
}

.bottom-nav .bottom-nav-btns.default-btn svg{
	fill: #0f9d58;
}
